<section id="years">
	<ul>
		<li>
			<%= link_to '15.10', '/' %>
		</li>
		<li class="inactive">
			15.04
		</li>
		<li class="active">
			14.10
		</li>
		<li class="inactive">
			14.04
		</li>
	</ul>
</section>
<section class="videos">
	<div class="day">
		<h1>Samedi 15 novembre 2014</h1>
		<ul>
			<li>
				1984, Foucault, société de surveillance et Libre
				<a href="/videos/14.10/1984-foucault-societe-surveillance-libre.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Véronique Bonnet & Luc Fievet</p>
			</li>
			<li>
				Bépo et claviers ergonomiques
				<a href="/videos/14.10/bepo-et-claviers-ergonomiques.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Sinma</p>
			</li>
			<li>
				Creative commons et la liberté de l’auteur
				<a href="/videos/14.10/creative-commons-liberte-auteur.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Danièle Bourcier</p>
			</li>
			<li>
				Démonstration : Ubuntu Gnome
				<a href="/videos/14.10/demonstration-ubuntu-gnome.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Axel Leroy</p>
			</li>
			<li>
				Démonstration : Ubuntu sur téléphones et tablettes
				<a href="/videos/14.10/demonstration-ubuntu-telephones-tablettes.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Axel Leroy</p>
			</li>
			<li>
				Femmes dans les sciences : comment parler à tou·te·s ?
				<a href="/videos/14.10/femmes-sciences-comment-parler-tou-te-s.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Mélissa Richard</p>
			</li>
			<li>
				Franciliens.net : FAI associatif en IdF pour la neutralité du net
				<a href="/videos/14.10/franciliens.net-fai-associatif-idf-neutralite-net.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Yhargla</p>
			</li>
			<li>
				Introduction à Ubuntu
				<a href="/videos/14.10/introduction-ubuntu.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Frédéric Stella</p>
			</li>
			<li>
				Le logiciel libre
				<a href="/videos/14.10/logiciel-libre.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Luc Fievet</p>
			</li>
			<li>
				Ubuntu au collège : migration d’un centre de documentation
				<a href="/videos/14.10/ubuntu-college-migration-centre-documentation.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Sophie Bocquet-Tourneur</p>
			</li>
			<li>
				Ubuntu sur téléphones et tablettes
				<a href="/videos/14.10/ubuntu-telephones-tablettes.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Axel Leroy</p>
			</li>
			<li>
				Une monnaie libre avec OpenUDC/uCoin
				<a href="/videos/14.10/monnaie-libre-openudc-ucoin.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Stéphane Laborde</p>
			</li>
		</ul>
	</div>
	<div class="day">
		<h1>Dimanche 16 novembre 2014</h1>
		<ul>
			<li>
				Apprendre à donner soi-même une conférence sur le Libre
				<a href="/videos/14.10/apprendre-donner-soi-meme-une-conference-libre.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Lionel Allorge</p>
			</li>
			<li>
				L’Agenda du Libre : comment et pourquoi y contribuer ?
				<a href="/videos/14.10/agenda-libre-comment-pourquoi-contribuer">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Magali Garnero</p>
			</li>
			<li>
				L’association Ubuntu-fr :<br/>10 ans d’activités au service du logiciel libre
				<a href="/videos/14.10/association-ubuntu-fr-10-ans-activites-service-logiciel-libre.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Olive</p>
			</li>
			<li>
				L’angle mort écologique du numérique
				<a href="/videos/14.10/angle-mort-ecologique-numerique.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Gaël Trouvé</p>
			</li>
			<li>
				Les aventures d’un petit paquet réseau
				<a href="/videos/14.10/aventures-petit-paquet-reseau.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Aeris</p>
			</li>
			<li>
				Les outils cloud par Framasoft
				<a href="/videos/14.10/outils-cloud-framasoft.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Genma</p>
			</li>
			<li>
				L’Internet peut-il casser des briques ?
				<a href="/videos/14.10/internet-casser-briques.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Benjamin Bayart</p>
			</li>
			<li>
				Manifeste des données-utilisateur
				<a href="/videos/14.10/manifeste-donnees-utilisateur.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Hugo Roy</p>
			</li>
			<li>
				Modèle économique du jeu vidéo sans DRM
				<a href="/videos/14.10/modele-economique-jeu-video-sans-drm.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>EDGE</p>
			</li>
			<li>
				Sexisme et open-source
				<a href="/videos/14.10/sexisme-opensource.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Marianne Lombard</p>
			</li>
			<li>
				Tails, anonymat mode d’emploi
				<a href="/videos/14.10/tails-anonymat-mode-emploi.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Amaëlle Guiton</p>
			</li>
			<li>
				XP c’est fini. L’occasion de migrer vers Ubuntu
				<a href="/videos/14.10/xp-fini-occasion-migrer-ubuntu.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Jérôme Landrevie & Pierre Pavard</p>
			</li>
		</ul>
	</div>
</section>
<section class="videos">
	<div class="day full">
		<h1>Chiffrofête</h1>
		<ul>
			<li>
				Comprendre le HTTPS
				<a href="/videos/14.10/comprendre-https.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Aeris</p>
			</li>
			<li>
				Hygiène numérique : Applications mobiles pour la vie privée
				<a href="/videos/14.10/hygiene-numerique-applications-mobiles-vie-privee.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Collectif Chiffrofête</p>
			</li>
			<li>
				Installer une liste de diffusion chiffrée avec Schleuder
				<a href="/videos/14.10/installer-liste-diffusion-chiffree-schleuder.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Okhin</p>
			</li>
			<li>
				Introduction aux chiffrofêtes
				<a href="/videos/14.10/introduction-chiffrofetes.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Collectif Chiffrofête</p>
			</li>
			<li>
				Live FAQ
				<a href="/videos/14.10/live-faq.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Aeris</p>
			</li>
			<li>
				Partage décentralisé, distribué et chiffré avec Tahoe-LAFS
				<a href="/videos/14.10/partage-decentralise-distribue-chiffre-tahoe-lafs.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Okhin</p>
			</li>
			<li>
				Usage compréhensif de Tor
				<a href="/videos/14.10/usage-comprehensif-tor.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Julie</p>
			</li>
			<li>
				Vie privée, anonymat Les raisons du logiciel libre
				<a href="/videos/14.10/vie-privee-anonymat-raisons-logiciel-libre.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Collectif Chiffrofête</p>
			</li>
			<li>
				Vie privée sur Internet : quelles extensions pour la protéger ?
				<a href="/videos/14.10/vie-privee-internet-extensions-proteger.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Collectif Chiffrofête</p>
			</li>
		</ul>
	</div>
</section>
