<section id="years">
	<ul>
		<li class="active">
			15.10
		</li>
		<li class="inactive">
			15.04
		</li>
		<li>
			<%= link_to '14.10', '14.10.html' %>
		</li>
		<li class="inactive">
			14.04
		</li>
	</ul>
</section>
<section class="videos">
	<div class="day">
		<h1>Samedi 28 novembre 2015</h1>
		<ul>
			<li>
				Expérience de migration d’une école sous Ubuntu
				<a href="/videos/15.10/migration-ecole-ubuntu.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Ferlanero</p>
			</li>
			<li>
				Il était une fois l’Internet
				<a href="/videos/15.10/il-etait-une-fois-internet.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Maryse & Élodie</p>
			</li>
			<li>
				Introduction à Ubuntu
				<a href="/videos/15.10/introduction-ubuntu.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Cryptie</p>
			</li>
			<li>
				IoT, l’Internet des objets selon Ubuntu
				<a href="/videos/15.10/iot-ubuntu.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Winael</p>
			</li>
			<li>
				Linux and supercomputing
				<a href="/videos/15.10/linux-supercomputing.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Sturmflut</p>
			</li>
			<li>
				The road to UbuCon Europe 2016
				<a href="/videos/15.10/road-ubucon-europe-2016.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Sturmflut</p>
			</li>
		</ul>
	</div>
	<div class="day">
		<h1>Dimanche 29 novembre 2015</h1>
		<ul>
			<li>
				Actualité d’Ubuntu
				<a href="/videos/15.10/actualite-ubuntu.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>CM-T</p>
			</li>
			<li>
				Free Software, patrimoine et citoyenneté
				<a href="/videos/15.10/free-software-patrimoine-citoyennete.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Véronique Bonnet</p>
			</li>
			<li>
				L’angle mort écologique du numérique
				<a href="/videos/15.10/angle-mort-ecologie-numerique.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Gaël Trouvé</p>
			</li>
			<li>
				Le sacré, le profane et le harcèlement sur Internet
				<a href="/videos/15.10/sacre-profane-harcelement-internet.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Androsème</p>
			</li>
			<li>
				Logiciel libre, Internet, surveillance, écologie :<br/>vision commune d’une révolution en cours
				<a href="/videos/15.10/logiciel-libre-internet-surveillance-ecologie-vision-commune-revolution.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Benjamin Sonntag</p>
			</li>
			<li>
				Pacte du Logiciel Libre pour les régionales 2015
				<a href="/videos/15.10/pacte-logiciel-libre-regionales-2015.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Bookynette & Marie</p>
			</li>
			<li>
				Ubuntu dans les festivals de musique
				<a href="/videos/15.10/ubuntu-festivals-musique.webm">
					<i class="flaticon-video">WebM</i>
				</a>
				<p>Camille Fievez</p>
			</li>
		</ul>
	</div>
</section>
